<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>WEATHER APP</title>
 <link href="/css/style.css" rel="stylesheet">
</head>

<body>
 <header>
  <h5>WeatherApp</h5>
 </header>
 <div class="form-group">
  <form>
   <input type="text" name="location" id="location" placeholder="Enter a Location. eg. Nigeria" required>
  </form>
 </div>
 <div class="weather-data">
  <h5>Weather Info</h5>
 </div>
 {{>footer}}
 <script src="/js/app.js"></script>
</body>

</html>